<div class="container">
<div class="panel panel-info">
<div class="panel-heading">
<b>Blog Title </b> {{blogPost.blogTitle}}<br>
<b>Posted On </b>{{blogPost.postedOn | date :'dd-MM-yyyy'}}<br>
<b>Posted By </b>{{blogPost.postedBy.firstname}} &nbsp; {{blogPost.postedBy.lastname}}<br>
<b>Email </b>{{blogPost.postedBy.email}}<br>

</div>
<div class="panel-body">
<div>
<p ng-bind-html="content"><br>
</div>
<a ng-click="updateLikes(blogPost.id)"><span class="glyphicon glyphicon-thumbs-up" ng-class="isLiked?'liked':'default'"></span></a>
<br>
<br>
<span class="dropdown"><a ng-click="userLikes(blogPost.id)" class="dropdown-toggle"
					data-toggle="dropdown"><font color="red"> {{blogPost.likes}}&nbsp;&nbsp;likes</font><span class="caret"></span></a>
					
				<ul class="dropdown-menu">
<li ng-repeat="blogPost in allLikes">
<b>{{blogPost.user.firstname}}</b>
</li>
</ul>
</span>

<br><br>
&nbsp; 
<br>
<textarea rows="5" cols="50" ng-model="commentTxt"></textarea><br>
<button class="btn btn-danger" ng-click="addBlogComment(blogPost,commentTxt)">POST COMMENT</button>


<div>
			<a ng-click="getAllBlogComments()" ng-hide="showComments">view comments</a>
			<a ng-click="getAllBlogComments()" ng-show="showComments">Hide comments</a>
			<ul ng-show="showComments">
				<li ng-repeat="bc in blogComments">
				    {{bc.commentTxt}}<br>
					{{bc.commentedBy.firstname}}&nbsp;{{bc.commentedBy.lastname}} on
					{{bc.commentedOn | date:'dd/MM/yyyy'}}<br>
				</li>
			</ul>
			</div>
		</div>
	</div>
</div>